#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: pink;
}

header {
  background-color: black;
  color: white;
  padding: 1%;
}

#pizzaImage {
  height: 50%;
  width: 50%;
}

nav{
  display: flex;
  justify-content: space-evenly;
}

nav a{
  text-decoration: none;
  color: rgb(219, 202, 202);
}
